<div id="root">
   <%if (!root){%>
        <div class="entrance">
        <h1>Вход </h1>
        <form method="POST" action="/login" enctype="application/x-www-form-urlencoded">
            <input type="text" maxlength="50" name ="login" placeholder="login"  required="required">
            <input type="password" maxlength="50" name= "password" placeholder="password"  required="required">
            <button type="submit">Отправить</button>
        </form>
        </div>
        <%}%>

</div>
<%if(root==="user"){%>
    <script src="/js/user.js"></script>
    <%}%>
<%if(root==="root"){%>
    <script src="/js/admin.js"></script>
    <%}%>