<div class="ad">


        <h1>Административная панель</h1>
        <h2>Здавствуте не правильный пароль или логин</h2>
        <ul>
            <li><a href="/login.html">Попробовать снова</a></li>
            <li><a href="/index.html">Выход в главное меню</a></li>
        </ul>
        
</div>
