<nav class="adminNav"></nav>>
    <ul>
        <li><span>сменить имя</span></li>
        <li><span>сменить пароль</span></li>
        <li><span>сменить почтовый ящик</span></li>
        <li><span>вернуться в главное меню</span></li>
    </ul>

</nav>
<div class="admin">


        <h1>Административная панель</h1>
        <h2>Здавствуте <%= hello %></h2>
        <form method="POST">

        </form>
        <input maxlength="50" type="text" name="login" placeholder="Введите логин"  required="required">
        <input type="password" maxlength="50" name= "password" placeholder="Введите пароль"  required="required">
        <button type="submit">Отправить</button>
        
</div>
<script>
    const admin=document.querySelector(".admin");
    onclick=(e)=>{
        console.log(e.target);
    }
    const changeName=()=>{
        const iner=admin.innerHTML=`<input maxlength="50" type="text" name="name" placeholder="Новое имя"  required="required">
                                    <input type="password" maxlength="50" name="password" placeholder="Введите пароль"  required="required">` 
    }
    const changePassword=()=>{
        const iner=admin.innerHTML=`<input maxlength="50" type="text" name="name" placeholder="Новое имя"  required="required">`    
    }




</script>