body{
    background-color: aliceblue;
 
}
.admin{
    display: none;
    background-color: #ffffff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
}
input{
    display: block;
    width: 400px;
    margin: 10px 10px;
}
button{
    float: right;
    margin: 0 10px 10px 0;
}

#navMenu{
    text-align: center;
    padding: 0;
}
#navMenu li{
    display: inline-block;
    margin:  0 20px 0 20px;
    height: 30px;
    font-size: 24px;
   
}
#navMenu li:hover{
    background-color: #bababa;
}
