body{
    background-color: aliceblue;
    text-align: center;
}
.entrance{
    background-color: #ffffff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
}
input{
    display: block;
    width: 350px;
    margin: 10px 10px;
}
button{
    float: right;
    margin: 0 10px 10px 0;
}